<div class="container-fluid">
    <div class="card m-lg-5 p-lg-5">
        <div class="head mb-3">
            <h4 class="text-center heading">Simple Application</h4>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <div class="row">
                    <div class="card p-md-1 m-md-1 col-md-3 col-sm-12" *ngFor="let l of myList let index=index" cdkDropListGroup>
                        <div class="example-container">
                            <div class="row">
                                <h4>{{l.listName|titlecase}}</h4>
                                <p class="ml-auto cursor cross" (click)="removeList(l.id)">&times;</p>
                            </div>

                            <div cdkDropList id="{{l.listName}}" [cdkDropListData]="l.arrayList" class="example-list" [cdkDropListConnectedTo]="connectedTo" (cdkDropListDropped)="drop($event)">
                                <div class="example-box row" *ngFor="let item of l.arrayList" cdkDrag>
                                    <p>{{item.name}}</p>
                                    <p class="ml-auto btn btn-sm cross" (click)="deletesingletask(index,item.id,l.id)">&times;</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="l.isEditable">
                            <input class="form-control" placeholder="please enter the task" [(ngModel)]="newTaskName">
                            <button class="btn bttn" (click)="addtask(index,l.id)">Add</button>
                        </div>
                        <button class="btn bttn btn-sm" *ngIf="!l.isEditable" (click)="l.isEditable=!l.isEditable">Add New Card</button>
                        <button class="btn bttn" *ngIf="l.isEditable" (click)="l.isEditable=!l.isEditable ;cleardata()">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <button class="btn bttn" data-toggle="modal" data-target="#exampleModalCenter">Add NewList</button>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearform()" #closebtn>
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="listForm">
                                <p>List Name</p>
                                <input class="form-control" placeholder="please enter list name" formControlName="listName">
                                <button class="btn bttn" (click)="addItem()">Add Card</button>
                                <div formArrayName="arrayList" *ngFor="let a of listForm.get('arrayList').controls; let i = index">
                                    <div [formGroupName]="i">
                                        <label>Card</label>
                                        <input type="text" class="form-control" name="name" formControlName="name" placeholder="please enter task">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearform()">Close</button>
                            <button type="button" class="btn btn-primary" (click)="addList()" [disabled]='listForm.invalid'>Save
                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>